.main {
    height: 100vh;
}
.s12 {
    margin: 0px;
    padding: 0px;
}

.video-wrapper {
    height: 46.5vh;
    width: 100%;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.message-list-label {
    height: 92vh;
    width: 99%;
}

.message-form {
    width: 99%;
}

.message-form-input {
    height: 4vh;
    width: 100%;
}

textarea {
    resize: none;
}

a {
    width: 100%;
}   